.mobile-container {
  max-width: 480px;
  margin: auto;
}

.header {
  margin-top: 1.5rem;
  padding: 1rem;
  overflow: hidden;
  background-color: #75A488;
  position: fixed;
  top: 0;

  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  
  @media screen and (max-width: 480px) {}

  .logo {
    width: 12rem;

    @media screen and (max-width: 480px) {
      width: 10rem;

    }
  }

  .styling {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .justColumn {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .justMargin {
        margin-top: 0;
        margin-bottom: 0.2rem;
      }
    }

    .justFlex {
      display: flex;
    }

    #colorIcons {
      color: #ffffff;
    }


  }

  .infoDiv {
  padding: 1rem;
  overflow: hidden;
  background-color: #75A488;
  position: fixed;
  top: 0;
  flex-direction: row;
  display: flex;
  width: 100%;
  color: #ffffff;
  }

}