.mobile-container {
  max-width: 480px;
  margin: auto;
}

.header {
  padding: 1rem;
  overflow: hidden;
  background-color: #75A488;
  position: fixed;
  top: 0;

  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  /* overflow: hidden;
  background-color: #75A488;
  position: fixed;
  top: 0;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  color: #ffffff; */

  @media screen and (max-width: 480px) {}

  .logo {
    width: 12rem;

    @media screen and (max-width: 480px) {
      width: 10rem;

    }
  }

  .styling {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .justColumn {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .justMargin {
        margin-top: 0;
        margin-bottom: 0.2rem;
      }
    }

    .justFlex {
      display: flex;
    }

    #colorIcons {
      color: #ffffff;
    }


  }

  /*  .icon {
    display: flex;
    font-size: 1.9rem;
    color:#ffffff;
    align-self: flex-end;
  } */
  /* .icon {
    font-size: 1.9rem;
    color:#ffffff;
  }
  
  .iconDrops {
    font-size: 1.9rem;
  }
  
  .color {
    color:#ffffff;
  }
  
  
  .logoSvg {
    height: auto;
    width: 150px;
  }
  
  .iconsHeader {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    font-size: 2rem;
  } */
}