.displayFlexDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .titleCreateAndLogin {
    display: flex;
    justify-content: center;
  }

  .formDiv {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .registerLink {
    color: #75A488;
  }

  .btnStylingGeneral {
    display: flex;
    justify-content: center;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #75A488;
    width: 60%;
  }

  a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
  }

  @media all and (max-width:30em) {
    a.button4 {
      display: block;
      margin: 0.2em auto;
      width: 60%;
    }
  }
}