/* STYLAR KUNDVAGNEN // CARTPAGE*/

.productDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.priceDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .totalPrice {
    font-weight: bold;
  }
}

/* STYLAR ORDERSIDAN // ORDERPAGE */

.orderDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}