/* STYLAR KUNDVAGNEN // CARTPAGE*/


.btnDivTwo {
  margin-top: 0.5rem;

  .btnStylingCart {
    display: flex;
    justify-content: center;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #75A488;
  }

  a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
  }

  @media all and (max-width:30em) {
    a.button4 {
      display: block;
      margin: 0.2em auto;
    }
  }
}

.btnDivOne {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;

  .btnStylingCartYes {
    display: flex;
    justify-content: center;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #75A488;
  }

  a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
  }

  @media all and (max-width:30em) {
    a.button4 {
      display: block;
      margin: 0.2em auto;
    }
  }
}

.btnStylingPlusAndMinus {
  display: flex;
  justify-content: center;
  padding: 0.3em 0.5em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: #75A488;
}

a.button4:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
  a.button4 {
    display: block;
    margin: 0.2em auto;
  }
}

/* STYLAR ORDERSIDAN // ORDERPAGE */

.orderDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.orderheadDiv { 

  display: flex; 

  flex-direction: column; 

  justify-content: space-between; 

  padding: 1%; 

  flex-wrap: wrap; 

  background-color: #75A488; 

  //color: #ffffff; 

 
 

  /* @media (max-width: 767px) { 

    flex-direction: column; 

  } 

 
 

  @media (max-width: 400px) { 

    flex-direction: row; 

  } */ 

} 

 
 

.flex-container { 
  
  display: flex; 
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; 
  font-size: 1em;

} 

.orderDiv {
  width: 80%;
  margin-top: 1em,
}

.flex-item-orderS { 

  background-color: #f1f1f1; 
  padding: 1%; 
  flex: 8%; 
  text-align: left;

} 
 

.flex-item-orderM { 

  background-color: #f1f1f1; 
  padding: 1%; 
  flex: 20%; 
  text-align: left;

} 

.flex-item-orderL { 

  background-color: #f1f1f1; 
  padding: 1%; 
  flex: 20%; 
  text-align: left;

} 

.flex-header-two {
  height: 2em;
  margin-top: 1em;
  padding-left: 2%;

}

.line-orders {
  height: 1em;
  width: "100%";
  background-color: #75A488;

}

 
 

//Responsive layout - makes a one column-layout instead of a two-column layout */ 

@media (max-width: 800px) { 

  .flex-item-orderS, .flex-item-orderM, .flex-item-orderL { 

    flex: 100%; 

  } 

} 