/* STYR NÅGRA AV APPENS BAKRUND OCH ATT ALLT LÄGGER SIG I MITTEN */

/* color: #ffffff; */
/* background-color: #75A488; */

* {
  box-sizing: border-box;
}

/* Gör att roten blir 100% höjd */
html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Vitbakrund med rund kant längst upp */
.wrappsAllContentLogAndReg {
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.875rem 1.875rem 0 0;
  flex: 1 0 auto;
  margin: 0;

  /* Lägger allt innehåll i mitten */
  .flexCenterAllLogAndReg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem;
  }
}